Repository DDMers/Deep-Space-13, pull requests merged in 2019-07, with the labels that each got.

#129 New Jackets
  DS13/code/modules/clothing/under/trek.dm
  DS13/code/modules/jobs/job_types/bridge.dm
  DS13/code/modules/jobs/job_types/misc.dm
  DS13/icons/mob/accessories.dmi
  DS13/icons/obj/clothing/accessories.dmi
  _maps/map_files/Akira/job_changes.dm
  code/modules/jobs/map_changes/DS13_OVERRIDE.dm
  icons/mob/accessories.dmi
Labels: Feature, Map Edit, Sprites, Tweak

#136 Fixes up uniform jackets
  DS13/code/modules/clothing/under/trek.dm
  DS13/icons/mob/actions/actions_spells.dmi
  DS13/icons/obj/clothing/accessories.dmi
  DS13/icons/overmap/columbia.dmi
  code/modules/jobs/map_changes/DS13_OVERRIDE.dm
  code/modules/jobs/map_changes/map_changes.dm
  icons/mob/accessories.dmi
Labels: Feature, Fix, Sprites

#104 Columbia Escort Frigate
  DS13/code/modules/overmap/ship_types.dm
  _maps/Columbia.dm
  _maps/Columbia.json
  _maps/map_files/Columbia/Columbia-ships.dmm
  _maps/map_files/Columbia/Columbia-space.dmm
  _maps/map_files/Columbia/Columbia.dmm
  config/maps.txt
Labels: Config Update, Map Edit

#139 Adds mentor tickets + Makes admin tickets nicer to look at
  DS13/sound/effects/mentorhelp.ogg
  code/modules/admin/verbs/adminhelp.dm
Labels: Feature

#140 AI Armor Project
  DS13/code/modules/overmap/ship_types.dm
  _maps/map_files/Columbia/Columbia.dmm
  _maps/map_files/Intrepid/Intrepid.dmm
  _maps/map_files/Sovereign/Sovereign.dmm
Labels: Map Edit

#142 Adds ferengi!
  DS13/code/modules/mob/living/carbon/human/species_types/ferengi.dm
  DeepSpace13.dme
  config/game_options.txt
  icons/misc/language.dmi
  icons/mob/human_parts_greyscale.dmi
  strings/names/ferengi.txt
  strings/rules_of_acquisition.txt
Labels: Config Update, Feature, Sprites
