Repository DDMers/Deep-Space-13, pull requests merged in 2019-04, with the labels that each got.

#61 Selflinks the overmap.
  _maps/Akira.json
Labels: Map Edit

#63 Revert "Possibly fixes tgs discord bot, might also fix instancing"
  code/__DEFINES/tgs.config.dm
Labels: Revert

#74 Small fixes + minor formatting roundup #2
  DS13/code/game/objects/multi-deck-relay.dm
  DS13/code/game/objects/trek_objects.dm
  DS13/code/modules/borg/antag_datum.dm
  DS13/code/modules/borg/items+structures.dm
  DS13/code/modules/overmap/events.dm
  _maps/map_files/Akira/Akira-decks.dmm
  _maps/map_files/Akira/Akira-ships.dmm
  _maps/map_files/Akira/Akira-space.dmm
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Bug / Fix, Needs Response

#76 Sovereign
  DS13/code/game/areas.dm
  DS13/code/game/objects/catwalk.dm
  DS13/code/game/objects/trek_objects.dm
  DS13/code/modules/EMH/EMH.dm
  DS13/code/modules/clothing/under/trek.dm
  DS13/code/modules/overmap/ai.dm
  DS13/code/modules/overmap/combat.dm
  DS13/code/modules/overmap/components.dm
  DS13/code/modules/overmap/movement.dm
  DS13/code/modules/overmap/ship_types.dm
  DS13/code/modules/power/warpcore/warpcore.dm
  DS13/goonstation/turf_autoalign.dm
  DS13/icons/obj/decor/cargopad.dmi
  DS13/icons/obj/decor/tables.dmi
  DS13/icons/obj/decor/wall_decor.dmi
  DS13/icons/obj/stack_objects.dmi
  DS13/icons/overmap/components.dmi
  DS13/icons/overmap/sovereign.dmi
  DS13/icons/turf/catwalk.dmi
  DS13/icons/turf/trek_wall_jeffries.dmi
  DS13/sound/ambience/science.ogg
  DS13/sound/effects/weapons/borg_cut.ogg
  DeepSpace13.dme
  _maps/Sovereign.dm
  _maps/Sovereign.json
  _maps/map_files/Sovereign/Sovereign-ships.dmm
  _maps/map_files/Sovereign/Sovereign-space.dmm
  _maps/map_files/Sovereign/Sovereign.dmm
  _maps/map_files/generic/CentCom.dmm
  code/game/area/areas.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/modules/jobs/job_types/civilian.dm
  code/modules/power/lighting.dm
  config/game_options.txt
  config/maps.txt
  icons/misc/beach.dmi
Labels: Bug / Fix, Enhancement, FUCK, Map Edit, Needs Pictures, Needs Review, Requires Atomization

#82 More missions
  DS13/code/game/areas.dm
  DS13/code/game/objects/item_changes.dm
  DS13/code/modules/borg/antag_datum.dm
  DS13/code/modules/borg/items+structures.dm
  DS13/code/modules/clothing/under/trek.dm
  DS13/code/modules/jobs/job_types/bridge.dm
  DS13/code/modules/overmap/ai.dm
  DS13/code/modules/overmap/combat.dm
  DS13/code/modules/overmap/events.dm
  DS13/code/modules/overmap/ship_types.dm
  DS13/code/modules/overmap/transporter.dm
  DS13/code/modules/turbolift/turbolift.dm
  DS13/icons/mob/simple_human.dmi
  DS13/icons/obj/tools.dmi
  DS13/icons/overmap/borg_cube.dmi
  DS13/icons/overmap/components.dmi
  DS13/icons/overmap/nx01.dmi
  DS13/icons/overmap/planets.dmi
  DS13/sound/ambience/m_class.ogg
  DS13/sound/ambience/nx01.ogg
  DS13/sound/effects/borg/borg_flyby.ogg
  DS13/sound/effects/borg/machines/assimilation_chamber.ogg
  DS13/sound/effects/items/screwdriver.ogg
  _maps/map_files/Akira/Akira-ships.dmm
  _maps/map_files/Sovereign/Sovereign-ships.dmm
  _maps/map_files/Sovereign/Sovereign.dmm
  code/controllers/subsystem/overmap.dm
  icons/obj/crates.dmi
  icons/obj/tools.dmi
Labels: Enhancement, Map Edit, Needs Pictures, Sprites, Work In Progress
