Repository DDMers/Deep-Space-13, pull requests merged in 2019-01, with the labels that each got.

#2 Adds the job changes for the DS13 Map
  _maps/map_files/DeepSpace13/job_changes.dm
  code/modules/jobs/map_changes/map_changes.dm
Labels: Map Edit

#1 Adds in some star trek stuff
  DS13/code/game/objects/railing.dm
  DS13/code/game/objects/trek_objects.dm
  DS13/code/modules/clothing/under/trek.dm
  DS13/goonstation/airlocks.dm
  DS13/goonstation/airlocks.dmi
  DS13/goonstation/command_airlock.dmi
  DS13/goonstation/engineering_airlock.dmi
  DS13/goonstation/external_airlock.dmi
  DS13/goonstation/glass_airlock.dmi
  DS13/goonstation/maint_airlock.dmi
  DS13/goonstation/medical_airlock.dmi
  DS13/goonstation/security_airlock.dmi
  DS13/goonstation/standard_airlock.dmi
  DS13/goonstation/turf_autoalign.dm
  DS13/goonstation/walls_supernorn.dmi
  DS13/icons/fluff/debris.dmi
  DS13/icons/misc/emotes.dmi
  DS13/icons/misc/star_trek.dmi
  DS13/icons/mob/accessories.dmi
  DS13/icons/mob/suit.dmi
  DS13/icons/mob/uniform.dmi
  DS13/icons/obj/chairs.dmi
  DS13/icons/obj/clothing/accessories.dmi
  DS13/icons/obj/clothing/uniforms.dmi
  DS13/icons/obj/decor/tables.dmi
  DS13/icons/obj/decor/wall_decor.dmi
  DS13/icons/obj/machinery/airlock-standard.dmi
  DS13/icons/obj/machinery/gambling.dmi
  DS13/icons/obj/machinery/hall_door.dmi
  DS13/icons/obj/machinery/large_console.dmi
  DS13/icons/obj/machinery/voy_door.dmi
  DS13/icons/obj/railing.dmi
  DS13/icons/obj/window.dmi
  DS13/icons/turf/beige_trek_carpet.dmi
  DS13/icons/turf/corridor.dmi
  DS13/icons/turf/darksteel_wall.dmi
  DS13/icons/turf/floors.dmi
  DS13/icons/turf/room-wall.dmi
  DS13/icons/turf/shuttle_engine.dmi
  DS13/icons/turf/smooth_trek_walls.dmi
  DS13/icons/turf/superdarkwall.dmi
  DS13/icons/turf/template_pallettes.dmi
  DS13/icons/turf/trek_turfs.dmi
  DS13/icons/turf/trek_wall_bright.dmi
  DS13/sound/effects/denybeep.ogg
  DS13/sound/effects/ds9_door.ogg
  DeepSpace13.dme
  _maps/DeepSpace13.dm
  _maps/DeepSpace13.json
  _maps/_basemap.dm
  _maps/map_files/DeepSpace13/DS13-D1.dmm
  _maps/map_files/DeepSpace13/DS13-D2.dmm
  _maps/map_files/DeepSpace13/DS13-D3.dmm
  _maps/map_files/DeepSpace13/job_changes.dm
  config/maps.txt
  icons/emoji.dmi
  icons/mob/accessories.dmi
  tables.dmi
Labels: Config Update, Map Edit, Sprites

#4 Adds multi-Z power support | Finishes up the first map.
  DS13/code/game/objects/multi-deck-relay.dm
  DS13/code/game/objects/trek_objects.dm
  DS13/goonstation/airlocks.dm
  DS13/icons/obj/decor/biobed.dmi
  DS13/icons/obj/decor/tables.dmi
  DS13/icons/obj/machinery/power_relay.dmi
  DS13/icons/obj/window.dmi
  DeepSpace13.dme
  _maps/map_files/DeepSpace13/DS13-D1.dmm
  _maps/map_files/DeepSpace13/DS13-D2.dmm
  _maps/map_files/DeepSpace13/DS13-D3.dmm
Labels: Feature, Map Edit

#9 Improves icon smoothing on goonwalls
  DS13/goonstation/turf_autoalign.dm
  code/__HELPERS/icon_smoothing.dm
Labels: Removal, enhancement

#12 Fixes https://github.com/DDMers/Deep-Space-13/issues/7
  DS13/code/game/objects/trek_objects.dm
  DS13/goonstation/airlocks.dm
  DS13/goonstation/turf_autoalign.dm
  DS13/icons/obj/stack_objects.dmi
  _maps/map_files/DeepSpace13/DS13-D1.dmm
  _maps/map_files/DeepSpace13/DS13-D2.dmm
  _maps/map_files/DeepSpace13/DS13-D3.dmm
  _maps/map_files/DeepSpace13/job_changes.dm
  code/game/objects/structures/girders.dm
  config/title_screens/images/default.png
  config/title_screens/images/trek.png
Labels: Config Update, Feature, Fix, Map Edit, enhancement

#14 fixes a compile error
  code/modules/power/lighting.dm
Labels: Fix

#13 Adds turbolifts!
  DS13/code/modules/turbolift/turbolift.dm
  DS13/goonstation/turf_autoalign.dm
  DS13/icons/obj/decor/wall_decor.dmi
  DS13/sound/effects/turbolift/turbolift-close.ogg
  DS13/sound/effects/turbolift/turbolift.ogg
  DeepSpace13.dme
  _maps/map_files/DeepSpace13/DS13-D1.dmm
  _maps/map_files/DeepSpace13/DS13-D2.dmm
  _maps/map_files/DeepSpace13/DS13-D3.dmm
  _maps/map_files/DeepSpace13/job_changes.dm
Labels: Feature, Map Edit

#10 (tested) Re-adds re-adding EMHs
  DS13/code/modules/EMH/EMH.dm
  DS13/code/modules/clothing/under/trek.dm
  DS13/goonstation/airlocks.dm
  DS13/icons/mob/emh.dmi
  DS13/icons/mob/uniform.dmi
  DS13/icons/obj/decor/wall_decor.dmi
  DS13/sound/effects/holofizzle.ogg
  DS13/sound/effects/medicalemergency.ogg
  DeepSpace13.dme
  _maps/map_files/DeepSpace13/DS13-D1.dmm
  _maps/map_files/DeepSpace13/DS13-D2.dmm
  _maps/map_files/DeepSpace13/DS13-D3.dmm
  code/__DEFINES/role_preferences.dm
  icons/mob/human_parts_greyscale.dmi
Labels: Feature, Map Edit, Sprites
