Repository DDMers/Deep-Space-13, pull requests merged in 2019-06, with the labels that each got.

#101 Adds the PALADIN law board to AI Uploads
  _maps/map_files/Akira/Akira-decks.dmm
  _maps/map_files/Sovereign/Sovereign.dmm
Labels: Feature, Map Edit

#97 Finalizes the whisp by Goat Monarch
  DS13/code/modules/overmap/events.dm
  DS13/icons/overmap/whisp.dmi
  _maps/map_files/Sovereign/Sovereign-ships.dmm
Labels: Feature, Map Edit

#103 Adds an intrepid class light cruiser
  DS13/code/game/areas.dm
  DS13/code/game/objects/trek_objects.dm
  DS13/code/modules/clothing/under/trek.dm
  DS13/code/modules/jobs/job_types/bridge.dm
  DS13/code/modules/jobs/job_types/misc.dm
  DS13/code/modules/overmap/components.dm
  DS13/code/modules/overmap/ship_types.dm
  DS13/code/modules/turbolift/turbolift.dm
  DS13/goonstation/turf_autoalign.dm
  DS13/icons/mob/accessories.dmi
  DS13/icons/obj/clothing/accessories.dmi
  DS13/icons/obj/decor/tables.dmi
  DS13/icons/obj/device.dmi
  DS13/icons/obj/stack_objects.dmi
  DS13/icons/overmap/intrepid.dmi
  DS13/icons/overmap/oversized_components.dmi
  DS13/icons/turf/intrepid.dmi
  DS13/icons/turf/intrepid_carpet.dmi
  DS13/sound/ambience/engineering_hall.ogg
  DS13/sound/ambience/enginehum2.ogg
  DS13/sound/ambience/turbolift.ogg
  DS13/sound/ambience/voy_bridge.ogg
  DS13/sound/effects/turbolift/turbolift.ogg
  DeepSpace13.dme
  _maps/Intrepid.dm
  _maps/Intrepid.json
  _maps/map_files/Intrepid/Intrepid-ships.dmm
  _maps/map_files/Intrepid/Intrepid-space.dmm
  _maps/map_files/Intrepid/Intrepid.dmm
  code/__DEFINES/jobs.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/sheets/sheets.dm
  code/modules/jobs/job_types/civilian.dm
  config/maps.txt
  icons/mob/accessories.dmi
  icons/mob/landmarks.dmi
Labels: Config Update, Feature, Map Edit, Sprites

#106 Fix the job landmarks
  icons/mob/landmarks.dmi
Labels: Fix, Sprites

#102 Atmos fixes
  _maps/map_files/Akira/Akira-decks.dmm
  _maps/map_files/Sovereign/Sovereign.dmm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
Labels: Feature, Fix, Map Edit

#107 Adds a shuttle pilot uniform
  DS13/code/modules/clothing/under/trek.dm
  DS13/icons/mob/uniform.dmi
  DS13/icons/obj/clothing/uniforms.dmi
  _maps/map_files/Akira/Akira-ships.dmm
  _maps/map_files/Sovereign/Sovereign-ships.dmm
Labels: Feature, Map Edit

#105 RD lockers are now usable
  _maps/map_files/Akira/Akira-decks.dmm
  _maps/map_files/DeepSpace13/DS13-D3.dmm
  _maps/map_files/Sovereign/Sovereign.dmm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
Labels: Map Edit

#108 vulnerabilities
  tgui/package-lock.json
Labels: UI

#98 Adds in an RC space ship for the clown
  DS13/code/game/objects/items/devices/rc_ship.dm
  DS13/code/modules/overmap/events.dm
  DS13/code/modules/overmap/movement.dm
  DS13/code/modules/overmap/overmap.dm
  DS13/icons/obj/device.dmi
  DS13/icons/overmap/rc_ships.dmi
  DeepSpace13.dme
  code/modules/jobs/job_types/civilian.dm
Labels: Feature

#109 Fix an oversight
  DS13/code/modules/jobs/job_types/misc.dm
Labels: Fix

#110 Misc fixes
  DS13/code/modules/overmap/movement.dm
  DS13/code/modules/overmap/overmap.dm
  DeepSpace13.dme
  _maps/map_files/Akira/Akira-decks.dmm
  _maps/map_files/Sovereign/Sovereign.dmm
Labels: Feature, Map Edit

#118 Fixes Airmix Tank on the Intrepid
  _maps/map_files/Intrepid/Intrepid.dmm
Labels: Fix, Map Edit

#117 Adds a PALADIN board to the Intrepid
  _maps/map_files/Intrepid/Intrepid.dmm
Labels: Feature, Map Edit

#128 Fixes slapping people off the bridge consoles
  DS13/code/modules/overmap/movement.dm
Labels: Fix

#111 Fixes some weird runabout behaviour
  DS13/code/game/objects/items/devices/rc_ship.dm
  DS13/code/modules/overmap/overmap.dm
  DS13/code/modules/overmap/runabout.dm
  DeepSpace13.dme
Labels: Fix

#120 Minor Whisp Fix (Help Altangy is holding me at gun point)
  _maps/map_files/Akira/Akira-ships.dmm
  _maps/map_files/Intrepid/Intrepid-ships.dmm
  _maps/map_files/Sovereign/Sovereign-ships.dmm
Labels: Map Edit

#131 You can now leave the round by buckling into a bed and logging out / ghosting.
  DS13/code/game/objects/structures/beds_chairs/bed.dm
  DeepSpace13.dme
Labels: Feature

#130 Making Intrepid OSHA Compliant
  _maps/map_files/Intrepid/Intrepid.dmm
Labels: Map Edit

#133 Fixes aurora caelus text
  code/modules/events/aurora_caelus.dm
Labels: Tweak
